.ac-turntable {
  position: relative;
  color: red;
  width: 300px;
  height: 300px;
}
.ac-turntable .ac-turntable__prize {
  width: 300px;
  height: 300px;
  background: url('https://cdn.jsdelivr.net/gh/ZhelinCheng/storage@master/picture/wR5hSB_44.png') center no-repeat;
  background-size: 100%;
}
.ac-turntable .ac-turntable__arrow {
  position: absolute;
  top: 60px;
  right: 0;
  left: 0;
  width: 106.4px;
  height: 143.2px;
  margin: 0 auto;
  background: url('https://cdn.jsdelivr.net/gh/ZhelinCheng/storage@master/picture/1cbqf3_11.png') center no-repeat;
  background-size: 100%;
}
